{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}(5)Pokes | Facebook{% endblock %}
{% block content %}

<header>
        <nav>
            <ul>

                <li> <a class="" href="#" id="fb"> <i class="fab fa-facebook-f"></i> </a> </li>
                <li> <button id="search_btn"  > <i class="fas fa-search    "></i> </button> </li>
                <li> <a class="" data-tooltip="Home" href="#" id="home"> <i class="fas fa-bars    "></i> </a> </li>
                <li>
                  {% thumbnail art.avatar.profile_picture "35x35" crop="center" as k %}
                                 <img width="{{k.width }}" height="{{k.height }}" src="{{ k.url }}" alt="author" style="border-radius: 80%">
                  {% endthumbnail %}
                </li>
                <li><h6 style="margin-top: 0.7em;
margin-left: 5px;"><b>{{art.avatar.name}}</b></h6></li>
                
                <li id="space2"></li>
                
                
               
               
                <li> <button  data-tooltip="Add" id="btn_plus"><i class="fas fa-plus    "></i></button> </li>
                <li> <button  data-tooltip="Message" id="btn_msg"><i class="fab fa-facebook-messenger    "></i></button></li>
                <li> <button  data-tooltip="Notification" id="btn_bell"> <i class="fas fa-bell    "></i></button></li>
                <li>  <button  data-tooltip="Profile" id="btn_profile"><i class="fas fa-user-cog    "></i></button>  </li>
                
            </ul>
        </nav>
    </header>

<div class="container">
	<div class="row " style="margin-top: 2em;">
		<div class="col-lg-2 col-md-2">
			
		</div>
		<!-- end column -->
		<div class="col-lg-8 col-md-8 col-sm-12 ">
			<input class="form-control" type="text" placeholder=" Trouver des amis a quit envoyer un poke" aria-label="default input example">
			<h5 style="margin-top: 0.5em;margin-bottom: 0.5em;"><b>Pokes suggérés</b></h5>
			<!-- create pokesMe -->
			<div class="row shadow-sm p-3 mb-5 bg-white rounded" >
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" >
					{% thumbnail art.poke_add_image "40x40" crop="center" as k %}
					<img  width="{{k.width }}" height="{{k.height }}" src="{{k.url}}" class="rounded-circle" alt="...">
					{% endthumbnail %}
				</div>
				<!-- end column -->
				<div class="col-lg-7 col-md-7 col-sm-4 col-xs-4" style="">
					<h6 style="color: grey;font-size: 15px;"><span style="color: black;font-size: 16px;"><b>{{art.poke_add_me}}</h6>
					
				</div>
				<!-- end column -->
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
					<a class="btn btn-primary" href="/profile/{{art.id}}/{{art.slug}}/profilephpid=100028712344302/" role="button"><b><i class="far fa-hand-point-right"></i> poke</b></a>
					
				</div>
				<!-- end column -->
				
				
			</div>
			<!-- end row -->
			<!-- end create pokesMe -->
			<h5 style="margin-top: 0.5em;margin-bottom: 0.5em;"><b>Pokes</b></h5>
			<!-- create pokes -->
			<div class="row shadow-sm p-3 mb-5 bg-white rounded">
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" >
					{% thumbnail art.poke_avatar "40x40" crop="center" as k %}
					<img  width="{{k.width }}" height="{{k.height }}" src="{{k.url}}" class="rounded-circle" alt="...">
					{% endthumbnail %}
				</div>
				<!-- end column -->
				<div class="col-lg-7 col-md-7 col-sm-4 col-xs-4" style="">
					<h6 style="color: grey;font-size: 15px;"><span style="color: black;font-size: 16px;"><b>{{art.poke_user}}</b></span> vous à envoyé un poke !<br> {{art.poke_date}}</h6>
					
				</div>
				<!-- end column -->
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
					<a class="btn btn-primary" href="/profile/{{art.id}}/{{art.slug}}/profilephpid=100028712344302/"  role="button"><b>Envoyer un poke</b></a>
					
				</div>
				<!-- end column -->
				
				
			</div>
			<!-- end row -->
			<!-- end create pokes -->

			<!-- create pokes -->
			<div class="row shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: -4em;">
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" >
					{% thumbnail art.poke_avatar1 "40x40" crop="center" as k %}
					<img width="{{k.width }}" height="{{k.height }}" src="{{k.url}}" class="rounded-circle" alt="...">
					{% endthumbnail %}
				</div>
				<!-- end column -->
				<div class="col-lg-7 col-md-7 col-sm-4 col-xs-4" style="">
					<h6 style="color: grey;font-size: 15px;"><span style="color: black;font-size: 16px;"><b>{{art.poke_user1}}</b></span> vous à envoyé un poke !<br> {{art.poke_date1}}</h6>
					
				</div>
				<!-- end column -->
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
					<a class="btn btn-primary" href="/profile/{{art.id}}/{{art.slug}}/profilephpid=100028712344302/"  role="button"><b>Envoyer un poke</b></a>
					
				</div>
				<!-- end column -->
				
				
			</div>
			<!-- end row -->
			<!-- end create pokes -->

			<!-- create pokes -->
			<div class="row shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: -4em">
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" >
					{% thumbnail art.poke_avatar2 "40x40" crop="center" as k %}
					<img  width="{{k.width }}" height="{{k.height }}" src="{{k.url}}" class="rounded-circle" alt="...">
					{% endthumbnail %}
				</div>
				<!-- end column -->
				<div class="col-lg-7 col-md-7 col-sm-4 col-xs-4" style="">
					<h6 style="color: grey;font-size: 15px;"><span style="color: black;font-size: 16px;"><b>{{art.poke_user2}}</b></span> vous à envoyé un poke !<br> {{art.poke_date2}}</h6>
					
				</div>
				<!-- end column -->
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
					<a class="btn btn-primary" href="/profile/{{art.id}}/{{art.slug}}/profilephpid=100028712344302/"  role="button"><b>Envoyer un poke</b></a>
					
				</div>
				<!-- end column -->
				
				
			</div>
			<!-- end row -->
			<!-- end create pokes -->

			<!-- create pokes -->
			<div class="row shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: -4em">
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" >
					{% thumbnail art.poke_avatar3 "40x40" crop="center" as k %}
					<img  width="{{k.width }}" height="{{k.height }}" src="{{k.url}}" class="rounded-circle" alt="...">
					{% endthumbnail %}
				</div>
				<!-- end column -->
				<div class="col-lg-7 col-md-7 col-sm-4 col-xs-4" style="">
					<h6 style="color: grey;font-size: 15px;"><span style="color: black;font-size: 16px;"><b>{{art.poke_user3}}</b></span> vous à envoyé un poke !<br> {{art.poke_date3}}</h6>
					
				</div>
				<!-- end column -->
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
					<a class="btn btn-primary" href="/profile/{{art.id}}/{{art.slug}}/profilephpid=100028712344302/"  role="button"><b>Envoyer un poke</b></a>
					
				</div>
				<!-- end column -->
				
				
			</div>
			<!-- end row -->
			<!-- end create pokes -->
			
			
		</div>
		<div class="col-lg-2 col-md-2"></div>
		
	</div>
	<!-- end row -->
	
</div>



{% endblock %}